@keyframes profession-slider {
    20%,
    35% {
        transform: translateX(calc(-1 * (300px + 100%)));
    }

    55%,
    70% {
        transform: translateX(calc(-2 * (300px + 100%)));
    }

    90%,
    100% {
        transform: translateX(calc(-3 * (300px + 100%)));
    }
}

@keyframes profession-vertical-slider {
    20%,
    35% {
        transform: translateY(calc(-1 * (300px + 100%)));
    }

    55%,
    70% {
        transform: translateY(calc(-2 * (300px + 100%)));
    }

    90%,
    100% {
        transform: translateY(calc(-3 * (300px + 100%)));
    }
}