@font-face {
    font-family: 'Gputeks';
    src: url(../../font/Gputeks-Regular.woff2) format("woff2"), url(../../font/Gputeks-Regular.woff) format("woff");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gputeks';
}

html {
    font-size: 30px;
    color: white;
    overflow-x: hidden;
}

h1 {
    /* font-size: 6rem;
    line-height: 6rem; */
    font-size: calc((100vw - 280px) / (1920 - 280) * 90 + 3rem);
    line-height: calc((100vw - 280px) / (1920 - 280) * 90 + 3rem);
}

h2 {
    /* font-size: 2rem;
    line-height: 2rem; */
    font-size: calc(0.8rem + 36 * ((100vw - 280px) / (1920 - 280)));
    line-height: calc(0.8rem + 36 * ((100vw - 280px) / (1920 - 280)));
}

p,
a {
    font-size: 1rem;
    line-height: 1rem;
}

.container {
    padding: 0 15.625%;
    width: 100%;
    height: 100%;
}

@media screen and (max-width: 400px) {
    .container {
        padding: 0 8%;
    }
}