@font-face {
    font-family: 'Gputeks';
    src: url(../../font/Gputeks-Regular.woff2) format("woff2"), url(../../font/Gputeks-Regular.woff) format("woff");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gputeks';
}

html {
    font-size: 30px;
}

h1 {
    font-size: 6rem;
    line-height: 6rem;
}

h2 {
    font-size: 2rem;
    line-height: 2rem;
}

p,
a {
    font-size: 1rem;
    line-height: 1rem;
}