@import "../fonts/Gputeks/stylesheets.css";

html, body {
    font-family: $font-main;
    color: $text-color;
    font-size: $font-size-main;
}

h1 {
    $pc-font-size: $font-size-big;
    $mobile-font-size: $font-size-big-mobile;

    @include adaptive-font($pc-font-size, $mobile-font-size);
    @include adaptive-line-height($pc-font-size, $mobile-font-size);
}

h2 {
    $pc-font-size: $font-size-large;
    $mobile-font-size: $font-size-large-mobile;

    @include adaptive-font($pc-font-size, $mobile-font-size);
    @include adaptive-line-height($pc-font-size, $mobile-font-size);
}

p, a, label, input, input::placeholder, button {
    $pc-font-size: $font-size-main;
    $mobile-font-size: $font-size-main-mobile;

    @include adaptive-font($pc-font-size, $mobile-font-size);
    @include adaptive-line-height($pc-font-size * 1.5, $mobile-font-size);
} 