.about-planet {
    @extend %section-size;
    @include section-position;
    
    background: linear-gradient(0deg, $accent-second-color 0%, $accent-first-color 100%);
    color: white;
    
    &__content {
        display: flex;
        align-items: center;
    }
    
    &__picture {
        margin: 0 auto;
        
        max-height: 100%;
        max-width: 50%;
        aspect-ratio: 646 / 871;
        
        position: relative;
    }
    
    &__planets {    
        height: 100%;
        
        position: relative;
        z-index: 3;
    }
    
    &__article {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 70 / 1080 * 100%;
        
        width: 50%;
        height: 100%;
    }
    
    @media screen and (orientation: portrait) {    
        &__picture {
            max-width: 100%;
        }
        
        &__article {
            @include background-frame;
            
            gap: 20px;
            
            height: fit-content;
            width: 100%;
            
            position: absolute;
            z-index: 3;            
        }
    }
}


.alien {
    width: 155 / 646 * 100%;
    aspect-ratio: 155 / 197;

    position: absolute;
    top: 280 / 871 * 100%;
    left: 190 / 646 * 100%;

    animation: alien-motion 5s linear infinite alternate both;

    &__body {
        @extend %full-size;
    }

    &__eye {
        width: 15 / 155 * 100%;
        aspect-ratio: 1;

        position: absolute;
        top: 69 / 197 * 100%;
        left: 68 / 155 * 100%;

        z-index: 2;
        
        animation: alien-eye-motion 1s linear infinite alternate both;
    }
}


