.btn-back {
    @extend %hover-and-active;

    position: fixed;
    top: 40px;
    left: 0;
    z-index: 1000;

    user-select: none;

    &__link {
        @extend %flex-all-center;

        width: 236 / 1920 * 100dvw;
        aspect-ratio: 236 / 102;
        min-width: 60px;

        background: $button-color;
    }
}
