.header {
    @extend %section-size;
    @include section-position;

    &__content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    
    &__btn {
        @extend %hover-and-active;

        width: fit-content;
        padding: calc(0.6rem + 12 * ((100vw - 320px) / (1920 - 320))) calc((0.6rem + 12 * ((100vw - 320px) / (1920 - 320))) * 3.5);
        background-color: $button-color;
        text-align: center;

        user-select: none;
    }
    
    &__background {
        background-color: $accent-first-color;
    }

    &__flight {
        width: 1582 / 1920 * 100%;
    
        position: absolute;
        right: 0;
        bottom: 0;
    
        transform: translateX(530 / 1582 * 100%) translateY(828 / 1515 * 100%);
    }
    
    &__planet {
        @extend %full-size;
    }
    
    &__rocket {
        width: 248 / 1582 * 100%;

        position: absolute;
        right: 70%;
        bottom: 75%;

        rotate: -38.2deg;

        animation: header-rocket-fly 5s linear 1s 1 both;
    }
}
