// Размеры экрана
$max-screen-width: 1920;
$min-screen-width: 280;

// Цвета
$text-color: #FFFFFF;
$text-second-color: #000000;

$accent-first-color: #222735; 
$accent-second-color: #2B344B;
$sand-color: #FFB762;

$sidenav-color: #3E4761;
$button-color: #39435E;

// Шрифты
$font-main: 'Gputeks', sans-serif; 

// Размеры шрифтов 
$font-size-base: 30px;
$font-size-main: 1rem; 
$font-size-small: 0.5rem;
$font-size-large: 2rem; 
$font-size-big: 6rem;

// Размеры шрифтов для мобильной версии
$font-size-main-mobile: 0.78rem; 
$font-size-small-mobile: 0.4rem;
$font-size-large-mobile: 0.9rem; 
$font-size-big-mobile: 3rem;

// Размеры сайдбара
$sidenav-width: clamp(200px, 430 / 1920 * 100%, 430px);
$sidenav-height: clamp(330px, 70vh, 920px);  

$sidenav-left-width: calc(140 / 430 * 100%);