.about-planet {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(0deg, #2B344B 0%, #212633 100%);
    color: white;
    overflow: hidden;
}

.about-planet__content {
    display: flex;
    height: 100%;
    width: 100%;
}

.about-planet__left {
    width: 50%;
    height: 100%;
}

.about-planet__picture {
    max-width: 80%;
    max-height: 90%;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    aspect-ratio: 646/871;
}

.about-planet__planets {
    background: url('../img/section-2-planets.svg') center / contain no-repeat;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}

.alien {
    background: url('../img/section-2-alien.svg') center/contain no-repeat;
    width: 23.99%;
    max-height: 22.11%;
    position: absolute;
    left: 41.41%;
    bottom: 56.95%;
    transform: translate(-50%, 50%);
    aspect-ratio: 155/197;
    animation: alien-motion 5s linear infinite alternate both;
}

.alien__eye {
    width: 9%;
    max-height: 7%;
    position: absolute;
    left: 48.71%;
    bottom: 61.17%;
    transform: translate(-50%, 50%);
    aspect-ratio: 1;
    animation: alien-eye-motion 1s linear infinite alternate both;
}

.about-planet__right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    height: 100%;
}

.about-planet__title {
    margin-bottom: 70px;
}