.additions {
    width: 100vw;
    height: 100vh;
    background: #FFB762;
    overflow: hidden;
}

.additions__content {
    width: 100%;
    height: 100%;
}

.addition__top {
    width: 100%;
    height: 20%;
    text-align: center;
}

.addition__bottom {
    width: 100%;
    height: 80%;
}

.additions__picture {
    max-height: 47.65%;
    max-width: 40%;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    aspect-ratio: 410.88 / 401.42;
}

.additions__mars {
    width: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.additions__orbit {
    border: 5px solid white;
    border-radius: 50%;
    width: 160%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    aspect-ratio: 1;
    animation: orbit-rotation 12s linear infinite both;
}

.phobos-img {
    display: flex;
    justify-content: center;
    align-items: end;
    width: 15.3971%;
    position: absolute;
    left: -1.5%;
    bottom: 20%;
    aspect-ratio: 95 / 97;
    background: url('../img/section-4-phobos.svg') center/contain no-repeat;
    animation: phobos-rotation 12s linear infinite both;
}

.phobos-img::after {
    content: "Фобос";
    position: relative;
    top: 50%;
    font-size: calc(0.6rem + 12 * ((100vw - 320px) / (1920 - 320)));
}

.deimos-img {
    display: flex;
    justify-content: center;
    align-items: end;
    width: 9.7245%;
    position: absolute;
    left: 25%;
    bottom: -1%;
    aspect-ratio: 1;
    background: url("../img/section-4-deimos.svg") center/contain no-repeat;
    animation: deimos-rotation 12s linear infinite both;
}

.deimos-img::after {
    content: "Деймос";
    position: relative;
    top: 90%;
    font-size: calc(0.6rem + 12 * ((100vw - 320px) / (1920 - 320)));
}

@media screen and (max-width: 1700px) {
    .planet-text {
        font-size: 0.75rem;
    }
}

@media screen and (max-width: 1000px) {
    .additions__orbit {
        border: 2px solid white;
    }

    .phobos-img::after {
        top: 90%;
    }
}

@media screen and (max-width: 600px) {
    .deimos-img {
        bottom: -3%;
    }
}

@media screen and (max-width: 440px) {
    .additions__orbit {
        border: 1px solid white;
    }

    .deimos-img {
        bottom: -5%;
    }
}

@media screen and (max-width: 370px) {
    .deimos-img {
        bottom: -6%;
    }
}

@media screen and (max-width: 340px) {
    .deimos-img {
        bottom: -8%;
    }
}

@media screen and (max-width: 310px) {
    .deimos-img {
        bottom: -12%;
    }
}