@font-face {
    font-family: 'Gputeks';
    src: url('../font/Gputeks-Regular.woff') format('woff'),
        url('../font/Gputeks-Regular.woff2') format('woff2');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gputeks', sans-serif;
}

html {
    font-size: 30px;
}

body {
    overflow-x: hidden;
}

h1 {
    /* font-size: 6rem; */
    /* line-height: 6rem; */
    font-size: calc((100vw - 320px) / (1920 - 320) * 90 + 3rem);
    line-height: calc((100vw - 320px) / (1920 - 320) * 90 + 3rem);
}

h2 {
    /* font-size: 2rem;
    line-height: 99px; */
    font-size: calc(1rem + 30 * ((100vw - 320px) / (1920 - 320)));
    line-height: calc(1rem + 30 * ((100vw - 320px) / (1920 - 320)));
}

p, a {
    /* font-size: 1rem;
    line-height: 50px; */
    font-size: calc(0.6rem + 12 * ((100vw - 320px) / (1920 - 320)));
    line-height: calc(0.6rem + 12 * ((100vw - 320px) / (1920 - 320)));
}

.container {
    padding: 80px 11% 80px 70px;
    height: 100%;
    width: 100%;
}

@media screen and (min-width: 1921px) {
    .container {
        padding: 80px 180px 80px 70px;
    }
}

@media screen and (max-width: 870px) {
    .container {
        padding: 40px 80px 40px 35px;
    }
}