.side-nav {
    display: flex;
    max-height: 90vh;
    min-height: 330px;
    width: 22.4%;
    padding: 5.45% 0;
    position: fixed;
    right: 0;
    top: 50%;
    transform: translate(67.91%, -50%);
    background-color: #3E4761;
    color: white;
    transition: 0.3s;
    z-index: 1000;
    overflow: hidden;
    aspect-ratio: 430 / 918;
}

.side-nav:hover {
    transform: translate(0, -50%);
}

.side-nav__left {
    width: 32.093%;
    height: 100%;
    padding: 0 30px;
    position: relative;
}

.side-nav__logo {
    display: inline-block;
    width: 50%;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    aspect-ratio: 1;
}

.side-nav__logo-img {
    width: 100%;
}

.side-nav__text {
    writing-mode: vertical-lr;
    text-orientation: upright;
    margin-top: 22.76%;
    font-size: 0.5rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.side-nav__right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
    width: calc(100% - 32.09%);
}

.side-nav__items {
    list-style-type: none;
}

.side-nav__item {
    margin: 20% 0;
    white-space: nowrap;
}

.side-nav__item-link {
    text-decoration: none;
    color: unset;
    font-size: calc(0.43rem + 17 * ((100vw - 767px) / (1920 - 767)));
    line-height: calc(0.43rem + 17 * ((100vw - 767px) / (1920 - 767)));
}