@font-face {
    font-family: 'Gputeks';
    src: url('../font/Gputeks-Regular.woff') format('woff'),
        url('../font/Gputeks-Regular.woff2') format('woff2');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gputeks', sans-serif;
}

html {
    font-size: 30px;
}

body {
    overflow-x: hidden;
}

h1 {
    font-size: 6rem;
    line-height: 6rem;
}

h2 {
    font-size: 2rem;
    line-height: 2rem;
}

p {
    font-size: 1rem;
    line-height: 1rem;
}

.side-nav {
    display: flex;
    height: calc(100vh - 9.9vh);
    max-height: 700px;
    width: 22.4%;
    min-width: 430px;
    padding: 5.45% 0;
    position: fixed;
    right: 0;
    top: 50%;
    transform: translate(67.91%, -50%);
    background-color: #3E4761;
    color: white;
    transition: 0.3s;
    z-index: 1000;
    overflow: hidden;
}

.side-nav:hover {
    transform: translate(0, -50%);
}

.side-nav__left {
    width: 32.093%;
    height: 100%;
    padding: 0 30px;
    position: relative;
}

.side-nav__logo {
    display: inline-block;
    width: 33.33%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -250%);
    aspect-ratio: 1;
}

.side-nav__logo-img {
    width: 100%;
}

.side-nav__text {
    writing-mode: vertical-lr;
    text-orientation: upright;
    margin-top: 22.76%;
    font-size: 0.5rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.side-nav__right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
    width: calc(100% - 32.09%);
}

.side-nav__items {
    list-style-type: none;
}

.side-nav__item {
    margin: 20% 0;
    white-space: nowrap;
}

.side-nav__item-link {
    text-decoration: none;
    color: unset;
}

.container {
    padding: 80px 10% 80px 70px;
    height: 100%;
    width: 100%;
}

.header {
    height: 100vh;
    width: 100vw;
    position: relative;
    color: white;
    overflow: hidden;
}

.header__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 10;
}

.header__btn {
    width: 440px;
    height: 100px;
    text-decoration: none;
    color: unset;
    background-color: #39435E;
    line-height: 100px;
    text-align: center;
}

.header__bg {
    background-color: #222735;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.header__planet {
    width: 60%;
    max-height: 50%;
    min-height: 40%;
    position: absolute;
    right: 0;
    bottom: 0;
}

.header__rocket {
    max-width: 20%;
    max-height: 20%;
    position: absolute;
    right: 70%;
    bottom: -20%;
    animation: header-rocket-fly 5s linear 1s 1 both;
}

.about-planet {
    background: linear-gradient(0deg, #2B344B 0%, #212633 100%);
    color: white;
    overflow: hidden;
}

.about-planet__content {
    display: flex;
    height: 100%;
    width: 100%;
}

.about-planet__left {
    width: 50%;
    height: 100%;
}

.about-planet__picture {
    max-width: 80%;
    max-height: 90%;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    aspect-ratio: 646/871;
}

.about-planet__planets {
    background: url('../img/section-2-planets.svg') center / contain no-repeat;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}

.alien {
    background: url('../img/section-2-alien.svg') center/contain no-repeat;
    width: 23.99%;
    max-height: 22.11%;
    position: absolute;
    left: 41.41%;
    bottom: 56.95%;
    transform: translate(-50%, 50%);
    aspect-ratio: 155/197;
    animation: alien-motion 5s linear infinite alternate both;
}

.alien__eye {
    width: 9%;
    max-height: 7%;
    position: absolute;
    left: 48.71%;
    bottom: 61.17%;
    transform: translate(-50%, 50%);
    aspect-ratio: 1;
    animation: alien-eye-motion 1s linear infinite alternate both;
}

.about-planet__right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    height: 100%;
}

.about-planet__title {
    margin-bottom: 70px;
}

.how-people {
    width: 100vw;
    height: 100vh;
    color: white;
    position: relative;
    background: linear-gradient(358.26deg, #242A3A -2.15%, #2A3348 98%);
    overflow: hidden;
}

.how-people__content {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.how-people__top {
    z-index: 10;
}

.how-people__info {
    display: flex;
    margin-top: 60px;
}

.how-people__text {
    width: 40%;
    line-height: 50px;
    margin-right: 100px;
}

.how-people__rovers {
    display: flex;
    justify-content: space-between;
    width: 60%;
}

.how-people__rover-item {
    list-style-type: none;
    width: fit-content;
    max-width: 20%;
    margin-left: 10px;
}

.how-people__rover-icon {
    width: 100%;
    margin: 0 auto;
}

.how-people__rover-text {
    margin-top: 44px;
    font-size: 0.5rem;
    text-align: center;
}

.how-people__bottom {
    background: url('../img/section-3-bg.svg') bottom/100% no-repeat;
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    aspect-ratio: 1932.5 / 596.67;
}

.how-people__rover {
    max-width: 24.51%;
    max-height: 70.22%;
    position: absolute;
    left: 45%;
    bottom: 50.87%;
    transform: translate(-50%, 50%);
    animation: how-people-rover-motion 10s linear infinite both;
}

.how-people__alien {
    max-width: 21.64%;
    max-height: 84.14%;
    position: absolute;
    left: 9.68%;
    bottom: 53.47%;
    transform: translate(-50%, 50%);
    animation: how-people-alien-motion 10s linear infinite 2s both;
}

.additions {
    width: 100vw;
    height: 100vh;
    background: #FFB762;
    overflow: hidden;
}

.additions__content {
    width: 100%;
    height: 100%;
}

.addition__top {
    width: 100%;
    height: 20%;
    text-align: center;
}

.addition__bottom {
    width: 100%;
    height: 80%;
}

.additions__picture {
    max-width: 21.4%;
    max-height: 47.65%;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    aspect-ratio: 410.88 / 401.42;
}

.additions__mars {
    width: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.additions__orbit {
    border: 5px solid white;
    border-radius: 50%;
    width: 160%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    aspect-ratio: 1;
    animation: orbit-rotation 12s linear infinite both;
}

.phobos {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: calc(100% / 160 * 100 * 95 / 410.88);
    position: absolute;
    left: -5%;
    bottom: 20%;
    animation: phobos-rotation 12s linear infinite both;
}

.phobos__img {
    width: 100%;
    aspect-ratio: 95 / 97;
}

.deimos {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: calc(100% / 160 * 100 * 60 / 410.88);
    position: absolute;
    top: 92%;
    left: 25%;
    transform: translate(-50%, -14.15%);
    animation: deimos-rotation 12s linear infinite both;
}

.deimos__img {
    width: 100%;
    aspect-ratio: 1;
}

.planet-text {
    text-align: center;
    line-height: 50px;
    letter-spacing: 0.52em;
}

.earth {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100vw;
    height: 100vh;
    background: #293246;
    color: white;
    position: relative;
    overflow: hidden;
}

.earth__content {
    width: 100%;
    height: 100%;
}

.earth__header {
    background: url('../img/section-5-bg-top.svg') center/cover no-repeat;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    aspect-ratio: 1921.5 / 330.76;
}

.earth__info {
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 10;
}

.earth__text {
    width: 60%;
    line-height: 99px;
    font-weight: 500;
}

.earth__rocket-img {
    width: 8%;
    margin-left: 5%;
}

.earth__footer {
    background: url('../img/section-5-bg-bottom-earth.svg') center/cover no-repeat;
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    aspect-ratio: 1914 / 301.4;
}

.earth__btn {
    max-width: 48.28%;
    padding: 30px 50px;
    margin: 0 auto;
    line-height: 50px;
    position: absolute;
    bottom: 50%;
    left: 50%;
    transform: translate(-50%, 50%);
    white-space: nowrap;
    background: #394C76;
    color: unset;
    text-decoration: none;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #FFB876;
    height: 30vh;
    width: 100vw;
    overflow: hidden;
}

@keyframes header-rocket-fly {
    0% {
        bottom: -20%;
        right: 70%;
        transform: rotate(90deg);
    }

    40% {
        bottom: 60%;
        right: 40%;
        transform: rotate(45deg);
    }

    100% {
        bottom: 20%;
        right: 30%;
        transform: rotate(0);
    }
}

@keyframes alien-eye-motion {
    0% {
        transform: translate(-140%, 50%);
    }

    100% {
        transform: translate(30%, 50%);
    }
}

@keyframes alien-motion {
    0% {
        transform: translate(-50%, 130%);
    }

    100% {
        transform: translate(-50%, 50%);
    }
}

@keyframes how-people-alien-motion {
    0% {
        left: -15%;
    }

    32.5% {
        left: 20%;
    }

    50% {
        left: 120%;
    }

    100% {
        left: 120%;
    }
}

@keyframes how-people-rover-motion {
    0% {
        left: -15%;
    }

    17% {
        left: 70%;
        transform: translate(-50%, 50%) rotateY(0deg);
    }

    18% {
        transform: translate(-50%, 50%) rotateY(180deg);
    }

    34%,
    48% {
        left: 50%;
        transform: translate(-50%, 50%) rotateY(180deg);
    }

    49% {
        left: 50%;
        transform: translate(-50%, 50%) rotateY(0deg);
    }

    60% {
        left: 120%;
    }

    100% {
        left: 120%;
    }
}

@keyframes orbit-rotation {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
    }

    100% {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

@keyframes deimos-rotation {
    0% {
        transform: translate(-50%, -25%) rotate(0deg);
    }

    25% {
        transform: translate(-50%, -50%) rotate(-90deg);
    }

    50% {
        transform: translate(-50%, -50%) rotate(-180deg);
    }

    75% {
        transform: translate(-50%, -25%) rotate(-270deg);
    }

    100% {
        transform: translate(-50%, -25%) rotate(-360deg);
    }
}

@keyframes phobos-rotation {
    0% {
        transform: translate(0%, -25%) rotate(0deg);
    }

    25% {
        transform: translate(0%, -50%) rotate(-90deg);
    }

    50% {
        transform: translate(0%, -50%) rotate(-180deg);
    }

    75% {
        transform: translate(-20%, -25%) rotate(-270deg);
    }

    100% {
        transform: translate(0%, -25%) rotate(-360deg);
    }
}

