.earth {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100vw;
    height: 100vh;
    background: #293246;
    color: white;
    position: relative;
    overflow: hidden;
}

.earth__content {
    width: 100%;
    height: 100%;
}

.earth__header {
    background: url('../../img/section-5-bg-top.svg') center/cover no-repeat;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    aspect-ratio: 1920 / 330;
}

.earth__info {
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    z-index: 10;
}

.earth__text {
    line-height: 99px;
    font-weight: 500;
    text-shadow: 0 0 3px #293246;
    z-index: 10;
}

.earth__rocket-img {
    width: 8%;
    margin-left: 5%;
    position: absolute;
    right: 20%;
    bottom: 20px;
    animation: earth-rocket-motion-horizontal 12s ease-in-out infinite both;
    z-index: 9;
}

.earth__btn {
    padding: calc(0.6rem + 12 * ((100vw - 320px) / (1920 - 320))) calc(0.6rem + 12 * ((100vw - 320px) / (1920 - 320)));
    line-height: 50px;
    position: absolute;
    bottom: 15%;
    left: 50%;
    transform: translate(-50%, 50%);
    background: #394C76;
    color: unset;
    text-decoration: none;
    text-align: center;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.63);
    z-index: 11;
}

.earth__footer {
    background: url('../../img/section-5-bg-bottom-earth.svg') center/cover no-repeat;
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    aspect-ratio: 1920 / 300;
}

@media (orientation: portrait) {
    .earth__rocket-img {
        animation: earth-rocket-motion-vertical 18s ease-in-out infinite both;
    }
}

@media screen and (max-width: 1070px) {
    .earth__text {
        line-height: 70px;
    }

    .earth__btn {
        line-height: 30px;
    }
}

@media screen and (max-width: 530px) {
    .earth__info {
        align-items: start;
        margin-top: 10vh;
    }

    .earth__text {
        line-height: 50px;
    }

    .earth__btn {
        line-height: 22px;
    }
}

@media screen and (max-width: 380px) {
    .earth__btn {
        max-width: 75vw;
        left: 5%;
        transform: translate(0, 50%);
    }
}