.how-people {
    width: 100vw;
    height: 100vh;
    position: relative;
    background: linear-gradient(358.26deg, #242A3A -2.15%, #2A3348 98%);
    color: white;
    text-shadow: 0 0 2px #242A3A;
    overflow: hidden;
}

.how-people__content {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.how-people__title {
    padding-bottom: 60px;
    z-index: 10;
}

.how-people__top {
    height: 100%;
    z-index: 10;
}

.how-people__info {
    display: flex;
}

.how-people__text {
    width: 40%;
    line-height: 50px;
}

.how-people__rovers {
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: repeat(4, 1fr);
    width: 60%;
}

.how-people__rover-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style-type: none;
    width: fit-content;
}

.how-people__rover-icon {
    width: 100%;
    max-width: 5.26vw;
    min-width: 50px;
}

.how-people__rover-text {
    margin-top: 44px;
    font-size: 0.5rem;
}

.how-people__bottom {
    background: url('../../img/section-3-bg.svg') bottom/100% no-repeat;
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    aspect-ratio: 1932.5 / 596.67;
}

.how-people__rover {
    max-width: 24.51%;
    max-height: 70.22%;
    position: absolute;
    left: 45%;
    bottom: 50.87%;
    transform: translate(-50%, 50%);
    animation: how-people-rover-motion 10s linear infinite both;
}

.how-people__alien {
    max-width: 21.64%;
    max-height: 84.14%;
    position: absolute;
    left: 9.68%;
    bottom: 53.47%;
    transform: translate(-50%, 50%);
    animation: how-people-alien-motion 10s linear infinite 2s both;
}

@media screen and (max-width: 1200px) {
    .how-people__info {
        flex-direction: column;
        justify-content: space-around;
        height: 100%;
    }
    
    .how-people__text {
        width: 100%;
    }
    
    .how-people__rovers {
        width: 100%;
    }
}

@media screen and (max-width: 700px) {
    .how-people__rovers {
        grid-template-columns: repeat(2, 1fr);
        row-gap: 20%;
    }
}

@media screen and (max-height: 750px) {
    .how-people__title {
        padding-bottom: 30px;
    }
    
    .how-people__text {
        line-height: 30px;
    }

    .how-people__rover-text {
        margin-top: 20px;
        font-size: 0.4rem;
    }
}